MyGenerator/src/main/resources/schema/MyGenerator.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="qualified">
	<!-- 根节点定义 -->
	<xsd:element name="generator" type="Generator">
		<!-- 分模块按包路径+模块名为唯一约束 -->
		<xsd:key name="module">
			<xsd:selector xpath="module"></xsd:selector>
			<xsd:field xpath="@package"></xsd:field>
			<xsd:field xpath="@name"></xsd:field>
		</xsd:key>
	</xsd:element>

	<!-- 生成器 -->
	<xsd:complexType name="Generator">
		<!-- 数据源及模块列表 -->
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="url" type="xsd:string" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="schema" type="xsd:string" 
				maxOccurs="1" />
			<xsd:element name="username" type="xsd:string" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="password" type="xsd:string" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="config" type="MyGeneratorConf" 
				maxOccurs="1" />
			<xsd:element name="module" type="Module" 
				maxOccurs="unbounded" />
		</xsd:choice>
		<!-- 使用多数据源时，数据源名称 -->
		<xsd:attribute name="dsName" type="xsd:string" 
				use="optional" />
	</xsd:complexType>
	
	<!-- 代码生成配置 -->
	<xsd:complexType name="MyGeneratorConf">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="typeConvert" type="TypeConvert" 
				maxOccurs="1" />
			<xsd:element name="package" type="PackageConfig" 
				maxOccurs="1" />
			<xsd:element name="strategy" type="StrategyConfig" 
				maxOccurs="1" />
		</xsd:choice>
		<!-- 开启 springdoc 模式（默认 false 与 swagger 不可同时使用，优先于 swagger） -->
		<xsd:attribute name="springdoc" type="xsd:boolean" 
				use="optional" default="false" />
		<!-- 开启 swagger 模式（默认 false 与 springdoc 不可同时使用） -->
		<xsd:attribute name="swagger" type="xsd:boolean" 
				use="optional" default="false" />
	</xsd:complexType>
	
	<!-- 字段类型转换 -->
	<xsd:complexType name="JavaSqlType">
		<!-- java.sql.Types -->
  		<xsd:attribute name="name" use="optional" default="BIGINT">
        	<xsd:simpleType>
         		<xsd:restriction base="xsd:string">
               		<xsd:enumeration value="BIT"/>
					<xsd:enumeration value="TINYINT"/>
					<xsd:enumeration value="SMALLINT"/>
					<xsd:enumeration value="INTEGER"/>
					<xsd:enumeration value="BIGINT"/>
					<xsd:enumeration value="FLOAT"/>
					<xsd:enumeration value="REAL"/>
					<xsd:enumeration value="DOUBLE"/>
					<xsd:enumeration value="NUMERIC"/>
					<xsd:enumeration value="DECIMAL"/>
					<xsd:enumeration value="CHAR"/>
					<xsd:enumeration value="VARCHAR"/>
					<xsd:enumeration value="LONGVARCHAR"/>
					<xsd:enumeration value="DATE"/>
					<xsd:enumeration value="TIME"/>
					<xsd:enumeration value="TIMESTAMP"/>
					<xsd:enumeration value="BINARY"/>
					<xsd:enumeration value="VARBINARY"/>
					<xsd:enumeration value="LONGVARBINARY"/>
					<xsd:enumeration value="NULL"/>
					<xsd:enumeration value="OTHER"/>
					<xsd:enumeration value="JAVA_OBJECT"/>
					<xsd:enumeration value="DISTINCT"/>
					<xsd:enumeration value="STRUCT"/>
					<xsd:enumeration value="ARRAY"/>
					<xsd:enumeration value="BLOB"/>
					<xsd:enumeration value="CLOB"/>
					<xsd:enumeration value="REF"/>
					<xsd:enumeration value="DATALINK"/>
					<xsd:enumeration value="BOOLEAN"/>
					<xsd:enumeration value="ROWID"/>
					<xsd:enumeration value="NCHAR"/>
					<xsd:enumeration value="NVARCHAR"/>
					<xsd:enumeration value="LONGNVARCHAR"/>
					<xsd:enumeration value="NCLOB"/>
					<xsd:enumeration value="SQLXML"/>
					<xsd:enumeration value="REF_CURSOR"/>
					<xsd:enumeration value="TIME_WITH_TIMEZONE"/>
					<xsd:enumeration value="TIMESTAMP_WITH_TIMEZONE"/>
           		</xsd:restriction>
 			</xsd:simpleType>
		</xsd:attribute>
		<!-- com.baomidou.mybatisplus.generator.config.rules.DbColumnType.type -->
		<xsd:attribute name="type" type="xsd:string" use="optional" default="BigInteger"/>
 		<!-- com.baomidou.mybatisplus.generator.config.rules.DbColumnType.pkg -->
		<xsd:attribute name="pkg" type="xsd:string" use="optional" default="java.math.BigInteger" />
	</xsd:complexType>
	
	<!-- 字段类型转换 -->
	<xsd:complexType name="TypeConvert">
		<xsd:choice minOccurs="1" maxOccurs="unbounded">
			<!-- JavaSqlType -->
			<xsd:element name="javaSqlType" type="JavaSqlType" />
		</xsd:choice>
	</xsd:complexType>

	<!-- 包配置 -->
	<xsd:complexType name="PackageConfig">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!-- Controller包名 -->
			<xsd:element name="controller" type="xsd:string" maxOccurs="1" default="controller" />
			<!-- Service Impl包名 -->
			<xsd:element name="serviceImpl" type="xsd:string" maxOccurs="1" default="service.impl" />
			<!-- Service包名 -->
			<xsd:element name="service" type="xsd:string" maxOccurs="1" default="service" />
			<!-- Entity包名 -->
			<xsd:element name="entity" type="xsd:string" maxOccurs="1" default="entity" />
			<!-- Mapper包名 -->
			<xsd:element name="mapper" type="xsd:string" maxOccurs="1" default="mapper" />
			<!-- Mapper XML包名 -->
			<xsd:element name="xml" type="xsd:string" maxOccurs="1" default="mapper" />
		</xsd:choice>
	</xsd:complexType>

	<!-- 策略配置 -->
	<xsd:complexType name="StrategyConfig">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
            <!-- Entity 配置 -->
			<xsd:element name="entity" maxOccurs="1">
				<xsd:complexType mixed="true">
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<!-- Entity 格式化名称 -->
						<xsd:element name="formatFileName" type="xsd:string" maxOccurs="1" default="{entityName}" />
						<!-- 禁用生成serialVersionUID -->
						<xsd:element name="disableSerialVersionUID" type="xsd:boolean" maxOccurs="1" default="false" />
						<!-- 是否生成实体时，生成字段注解（默认 false） -->
						<xsd:element name="tableFieldAnnotationEnable" type="xsd:boolean" maxOccurs="1" default="false" />
						<!-- 乐观锁字段名称（数据库字段） -->
						<xsd:element name="versionColumnName" type="xsd:string" maxOccurs="1" default="version" />
						<!-- 逻辑删除字段名称（数据库字段） -->
						<xsd:element name="logicDeleteColumnName" type="xsd:string" maxOccurs="1" default="deleted" />
						<!-- 父类（全路径名称） -->
						<xsd:element name="superClass" type="xsd:string" maxOccurs="1" />
						<!-- 父类字段集 -->
						<xsd:element name="superEntityColumns">
							<xsd:complexType mixed="true">
								<xsd:choice minOccurs="0" maxOccurs="unbounded">
									<xsd:element name="column" type="xsd:string" maxOccurs="1" />
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
            <!-- Controller 配置 -->
			<xsd:element name="controller" maxOccurs="1">
				<xsd:complexType mixed="true">
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<!-- 是否生成Controller（默认否） -->
						<xsd:element name="controller" type="xsd:boolean" maxOccurs="1" default="false" />
						<!-- 开启生成@RestController控制器（默认否） -->
						<xsd:element name="enableRestStyle" type="xsd:boolean" maxOccurs="1" default="false" />
						<!-- Controller 格式化名称 -->
						<xsd:element name="formatFileName" type="xsd:string" maxOccurs="1" default="{entityName}Controller" />
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
            <!-- Service 配置 -->
			<xsd:element name="service" maxOccurs="1">
				<xsd:complexType mixed="true">
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<!-- Service 格式化名称 -->
						<xsd:element name="formatServiceFileName" type="xsd:string" maxOccurs="1" default="I{entityName}Service" />
						<!-- Service Impl 格式化名称 -->
						<xsd:element name="formatServiceImplFileName" type="xsd:string" maxOccurs="1" default="{entityName}ServiceImpl" />
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
            <!-- Mapper 配置 -->
			<xsd:element name="mapper" maxOccurs="1">
				<xsd:complexType mixed="true">
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<!-- Mapper 格式化名称 -->
						<xsd:element name="formatMapperFileName" type="xsd:string" maxOccurs="1" default="{entityName}Mapper" />
						<!-- Mapper XML 格式化名称 -->
						<xsd:element name="formatXmlFileName" type="xsd:string" maxOccurs="1" default="{entityName}Mapper" />
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>

	<!-- 模块 -->
	<xsd:complexType name="Module">
		<!-- 数据库表集 -->
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="table">
				<xsd:complexType mixed="true">
			    	<!-- Column -->
			        <xsd:choice minOccurs="0" maxOccurs="unbounded">
			            <xsd:element name="column" type="Column" minOccurs="0" maxOccurs="unbounded"/>
			        </xsd:choice>
					<!-- 创建人 -->
					<xsd:attribute name="author" type="xsd:string"
						use="required" />
					<!-- 表名 -->
					<xsd:attribute name="name" type="xsd:string"
						use="required" />
					<!-- 主键类型 -->
					<xsd:attribute name="idType" use="optional"
						default="AUTO">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="AUTO" />
								<xsd:enumeration value="NONE" />
								<xsd:enumeration value="INPUT" />
								<xsd:enumeration value="ASSIGN_ID" />
								<xsd:enumeration value="ASSIGN_UUID" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<!-- 是否覆盖已存在的实体类（默认false） -->
					<xsd:attribute name="entity" type="xsd:boolean"
						use="optional" default="false" />
					<!-- 是否配置Excel表格（默认false） -->
					<xsd:attribute name="excel" type="xsd:boolean"
						use="optional" default="false" />
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
		<!-- 模块名 -->
		<xsd:attribute name="name" type="xsd:string"
			use="required" />
		<!-- 包路径 -->
		<xsd:attribute name="package" type="xsd:string"
			use="required" />
	</xsd:complexType>

	<!-- Column -->
	<xsd:complexType name="Column">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!-- typeHandler -->
			<xsd:element name="typeHandler" type="xsd:string" minOccurs="0" maxOccurs="1" default="org.apache.ibatis.type.BlobTypeHandler" />
			<!-- javaSqlType -->
			<xsd:element name="javaSqlType" type="JavaSqlType" minOccurs="0" maxOccurs="1" />
		</xsd:choice>
		<!-- name -->
		<xsd:attribute name="name" type="xsd:string"
			use="required" />
	</xsd:complexType>
</xsd:schema>